.footer {
	border-style: solid none solid none;
	border-color: rgba(8, 33, 125, 0.12);
	border-width: 2px;
	top: 30px;
	bottom: 30px;
	display: block;
	position: relative;
	bottom: -10px;
	left: 22.5%;
	width: 55%;
	
}


.footer-block {
	overflow: hidden;
	object-fit: cover;
	display: inline;
	position: absolute;
	width: 350px;
	height: 76px;
	background-color: rgba(255, 255, 255, 0.70);	
}

.footer-text {
	display: inline;
	position: absolute;
	left: 350px;
	padding-left:20px;
	background-color: rgba(255, 255, 255, 0.70);
	font-family: Verdana;
	font-size: 15.5px;
	color: rgb(0, 51, 204);
}