
.social-bar {
	position: absolute;
	top: 5px;
	right: 15px;
	background-color: rgba(200,200,200, 0.85);	
}

.social-icon {
	width: 15px;
	height: 15px;
	padding: 3px 3px 3px 3px;
	display: inline;
}

.social-icon:hover {
	background-color: gray;
}

.regular-icon {
	width: 275px;
	height: 175px;
	padding: 3px 3px 3px 3px;
	display: inline;
	box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.5);
}

.regular-icon:hover {
	background-color: gray;
}

.header {
	position: absolute;
	top: 30px;
	left: 0px;
	width: 100%;
	color: black;
	text-align: center;
    z-index: 1;
}


ul.navbar {
	display: inline-block;
	list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
    overflow: hidden;
}

.navbar li {
	float: left;
	text-align: center;
	margin: 0px 10px 0px 10px;
}

.navbar li h4 {
	margin: 9px 0 0 0;
	font-family: Arial;
	font-size: 30px;
}

.navbar li a {
	display: block;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 102, 204, 0.70);
	font-family: Verdana, bold;
	text-align: center;
	font-size: 20px;
    padding: 10px 12px;
    text-decoration: none;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.5);
}

.navbar li a:hover {
	background-color: rgba(0, 102, 255, 0.75);
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: rgba(0, 102, 255, 0.75)}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 575px) {
	ul.navbar {
		text-align: center;
        float: none;
        display: block;
	}
	
	.navbar li {
		width: 100%;
	}
}


